.action-button {
	background-color:#44c767;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
  color:#ffffff;
  text-align: center;
	font-size:17px;
	padding:14px 22px;
	text-decoration:none;

	&:hover {
		background-color:#5cbf2a;
	}

	&:active {
		position:relative;
		top:1px;
	}

	&:focus {
		outline:0;
	}
}