$breakpoint-small: '(min-width: 48em)' !default;
$breakpoint-medium: '(min-width: 64em)' !default;
$breakpoint-large: '(min-width: 75em)' !default;

.board-cell {
  flex: 1 1 auto;
  background: #48e5c2;
  border: 1px solid #fcfaf9;
  border-radius: 4px;
  float: left;
  line-height: 11px;
  height: 11px;
  width: 11px;
  text-align: center;
  cursor: pointer;
  color: #333333;
  font-weight: 600;
  &:focus {
    outline: none;
  }
}

.empty-cell {
  background: #fcfaf9;
  border: 1px solid #48e5c2;
}

.mine-cell {
  background: #e55f48;
  border: 1px solid #fcfaf9;
}

@media #{$breakpoint-small} {
  .board-cell {
    width: 30px;
    height: 30px;
    line-height: 30px;
  }
}
@media #{$breakpoint-medium} {
  .board-cell {
    width: 38px;
    height: 38px;
    line-height: 38px;
  }
}

@media #{$breakpoint-large} {
  .board-cell {
    width: 45px;
    height: 45px;
    line-height: 45px;
  }
}

